@import url("https://fonts.googleapis.com/css?family=Roboto");

table {
  width: 300px;
}

tr[for="ww"] {
    font-weight: bold;
    color: #ffffff;
    background-color: #019588;
    text-decoration: none;
}

tr[for="ti"] {
    font-weight: bold;
    color: #ffffff;
    background-color: #e91e63;
    text-decoration: none;
}

tr[for="ai"] {
    font-weight: bold;
    color: #ffffff;
    background-color: #9c28b0;
}

a {
    text-decoration: none;
}