@import url("https://fonts.googleapis.com/css?family=Roboto");

table {
  width: 300px;
}
td {
  text-align: center;
}

label {
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 3px;
}

label[for="ww"] {
    color: #ffffff;
    background-color: #019588;
    text-align: left;
}

label[for="ti"] {
    color: #ffffff;
    background-color: #e91e63;
    text-align: left;
}

label[for="ai"] {
    color: #ffffff;
    background-color: #9c28b0;
    text-align: left;
}